{
  "semi": true,
  "singleQuote": true,
  "printWidth": 180,
  "tabWidth": 2,
  "trailingComma": "es5",
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "jsxBracketSameLine": true
}